* {
 box-sizing: border-box;
   
 }
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: cadetblue;
margin:0px;
padding:0px;
line-height: 1.5;
}

.header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:rgb(13, 0, 128);
    color: #ffffff;
}

.header h1 {
  margin:0px;
font-size: 2em;
line-height: 1;
}

nav{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
nav a {
color: white;
font-size: 1.2rem;
margin-right: 15px;
}

nav a:hover {
    color: rgba(245, 255, 255, 0.5);
}
.hero-banner {
background-color: blue;
background-image: url("https://img.wallpapersafari.com/desktop/1280/1024/98/83/tqzDo5.jpg");
background-repeat: no-repeat;
background-size: cover;
min-height: 25vh;
display:flex;
justify-content: flex-end;
align-items: flex-end;
text-align: right;
}

.hero-banner h2 {
margin:0px;
padding:15px;
font-size: 2rem;
line-height: 1;
display: inline;
}

p {
    font-size: 24px;  
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
h2 {
    margin:0px;
    color: white;
}

.work {
    border: 5px solid black;
    background-color: blue;
    color: white;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
}

.work:first-child {
min-height: 350px;
flex-basis: 100%;
}
    
.float-left {
    float: left;
   margin-right: 20px;
     
}




.work-items {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   margin:20px;
    padding: 5px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(13, 0, 128);
    color: #ffffff; */
}
 .contact-items {
        display:block;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 25px;
        height: 235px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(13, 0, 128);
        color: #ffffff;
       margin-left: 200px;
       margin-right: 200px;
 }
     


.list-adjust {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   
}
.contact-adjust ul li {
    text-align: left;
    margin-top: 10px;
    list-style-type: none;
    font-size: 15pt;
}
 

.nav-items img {
   max-height: 250px;
}


.mybook img {
    max-height:175px;
    padding: 25px;
    background-image: url("https://img.wallpapersafari.com/desktop/1280/1024/98/83/tqzDo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}
.mybook:hover img {
    transform: scale(1.25)
}
.authorbook img {
 height: 175px;
    padding: 25px;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("https://img.wallpapersafari.com/desktop/1280/1024/98/83/tqzDo5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.authorbook:hover img {
    transform: scale(1.25)
}

.contact-items img {
    max-height: 225px;
}
.contact-items li a{
    font-size:20px;

}
 .contacts-items ul li {
     text-align: left;
 }

.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}

.footer h2 {
    font-size: 20px;
    color:white
}
.footer p {
    color:white
}

@media screen and (max-width: 970px) {

    .nav-items img {
               max-height: 200px;
           }
  
    .authorbook img {
        max-height: 150px;
        } 

    .mybook img {
     max-height: 150px;
        }

    .contact-items img {
    max-height: 150px;
    }

    h2 {
    font-size: 20pt;
    }
    .book-items h2{
    font-size:20pt;
    }
      p {
    font-size: 20px;
    } 

     .contact-items li a {
    font-size: 20px;
     }
     }
           
     @media screen and (max-width: 920px) {

    .nav-items img {
    max-height: 200px;
    }
          
    .authorbook img {
     max-height: 125px;
     } 
        
     .mybook img {
     max-height: 125px;
    }
        
    .contact-items img {
    max-height: 125px;
     }
        
     h2 {
     font-size: 19pt;
        } 

     .book-items h2{
            font-size:19pt;
        }
                  
     p {
      font-size: 19px;
        } 
        
     .contact-items li a {
     font-size: 19px;
    }
    }

    @media screen and (max-width: 870px) {

    .nav-items img {
      max-height: 200px;
      }
                  
     .authorbook img {
     max-height: 100px;
     } 
                
     .mybook img {
     max-height: 100px;
     }
                
    .contact-items img {
     max-height: 100px;
      }
               
    h2 {
     font-size: 19pt;
     }       
     
     .book-items h2{
        font-size:19pt;
    }                    
     p {
    font-size: 19px;
     } 
                
     .contact-items li a {
    font-size: 19px;
      }
     }
                           
     @media screen and (max-width: 820px) {

    .nav-items img {
     max-height: 200px;
    }
                          
     .authorbook img {
    max-height: 75px;
      } 
                        
     .mybook img {
     max-height: 75px;
     }
                        
     .contact-items img {
     max-height: 100px;
    }
    
    h2 {
     font-size: 18pt;
     }       
                                 
     p {
      font-size: 18px;
     } 
                        
    .contact-items li a {
     font-size: 18pxx;
     }
     }           
     
     @media screen and (max-width: 820px) {

        .nav-items img {
         max-height: 200px;
        }
                              
         .authorbook img {
        max-height: 75px;
          } 
                            
         .mybook img {
         max-height: 75px;
         }
                            
         .contact-items img {
         max-height: 100px;
        }
        
        h2 {
         font-size: 20pt;
         }       
                                     
         p {
          font-size: 19px;
         } 
                            
        .contact-items li a {
         font-size: 17pxx;
         }
         }       